.verify-email-container{
    .info-booking{
        font-size: 25px;
        font-weight: 500;
        margin-top: 100px;
        text-align: center;
        text-transform: uppercase;
        color: blue;
    }
}