.header-container {
    background-color: #91e89a;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 10px;
    border-bottom: 1px solid #ccc;

    .header-search{
        display: flex;
        align-items: center;
        border: 0.5px solid lightgray;
        padding: 3px;

        input {
            border: none;
            outline: none;
            background: transparent;
    
            &::placeholder {
                font-size: 12px;
            }
        }
    }

    .languages{
        display: flex;
        align-items: center;
        .welcome{
            margin-right: 15px;
        }

        .language-en{
            margin-right: 15px;
            margin-left: 10px;
            cursor: pointer;
            opacity: 0.8;
            &.active{      
                opacity: 1;       
                color: #1440f1; 
            }
        }

        .language-vi{
            cursor: pointer;
            opacity: 0.8;
            &.active{
                opacity: 1; 
                color: orange;
            }
        }
        .btn-logout {
            line-height: 40px;
            padding: 0 10px;
            i{
                color: black;
            }
        }
    }
}

