.doctor-detail-container{
    padding-top: 10px;
    .info-doctor{
        display: flex;
        margin: 0 200px;

        .content-left{
            background: center center no-repeat;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin: 10px 20px;
        }

        .content-right{
            width: 75%;
            display: flex;
            flex-direction: column;
            padding-left: 10px;

            .up{
                padding-top: 15px;
                font-size: 24px;
                font-weight: 600;
            }

            .down{
                padding-top: 10px;
            }
        }

        
    }

    .schedule-doctor{
        margin: 0 200px;
        display: flex;
        margin-bottom: 20px;
        margin-top: 10px;
        min-height: 150px;

        .content-left{
            width: 60%;
        }

        .content-right{
            width: 40%;
            padding-left: 15px;
        }
    }

    .detail-doctor{
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        background-color: #f9f9f9;
        padding: 15px 200px;
        h3{
            font-size: 20px;
        }

        h4{
            font-size: 18px;
        }

        h5{
            font-size: 16px;
        }
        img{
            width: 90%;
        }
    }
    .comment{
        height: 50px;
    }
}
