.manage-user-container{
    padding: 0 10px;

    .manage-user-title{
        text-transform: uppercase;
        margin: 30px;
        font-weight: 600;
        font-size: 30px;
        text-align: center;
        color: blue;
    }

    .manage-user-body{

        .table-user-title{
            font-size: 20px;
            color: green;
            padding-bottom: 10px;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .btn-add{
                text-decoration: none;
                color: green;
                font-size: 20px;
                font-weight: 400;
                border: 1px solid green;
                border-radius: 5px;
                padding: 3px;
                cursor: pointer;

                svg{
                    margin-bottom: 5px;
                }
            }
        }

        .cellDoctor {
            padding: 5px;
            border-radius: 5px;
        
            &.R1 {
                background-color: rgb(199, 241, 199);
                color: green;
            }
            &.R2 {
                color: blue;
            }
            &.R3 {
                color: greenyellow;
            }
        }

        .action{
            display: flex;
            align-items: center;
            gap: 15px;

            .btn-edit-user {
                padding: 2px 5px;
                border-radius: 5px;
                border: none;
                color: white;
                cursor: pointer;
                background: green;
            }
    
            .btn-delete-user {
                padding: 2px 5px;
                border-radius: 5px;
                border: none;
                color: white;
                cursor: pointer;
                background: red;
            }
        }
    }
}

.add-user-modal-container{

    .add-user-modal-title{
        padding: 5px;
        border-bottom: 1px solid #ccc;

        .left{
            font-size: 20px;
            font-weight: 600;
            color: green;
        }
        .right{
            float: right;
            cursor: pointer;
        }
    }

    .add-user-content{
        display: flex;
        
        .add-modal-body-left{
            width: 25%;
            text-align: center;
            margin: 30px 10px;
            img{
                width: 200px;
                height: 200px;
                border-radius: 50%;
                object-fit: cover;
                background: center center no-repeat;
                background-size: contain;
                cursor: pointer;
            }
        }

        .add-modal-body-right{
            width: 75%;
            padding: 5px;
            .preview-image{
                .label-upload{
                    padding: 5px;
                    border-radius: 3px;
                    background: #eee;
                    cursor: pointer;
                    &:hover{
                        opacity: 0.8;
                    }
                    .icon{
                        margin-left: 4px;
                        font-size: 18px;
                        color: green;
                    }
                }
            }
        }
        .add-modal-footer{
            padding: 10px;
            display: flex;
            justify-content: center;

            button{
                padding: 5px;
                border: none;
                border-radius: 5px;
                color: white;
                min-width: 100px;
                margin: 0 20px;
            }

            .btn-save{
                background: blue;
            }

            .btn-cancel{
                background: red;
            }

            .btn-editor{
                background: green;
            }
        }
    }
}