.manage-specialty-container{
    padding: 0 200px;
    
    .manage-specialty-title{
        text-transform: uppercase;
        margin: 30px;
        font-weight: 600;
        font-size: 30px;
        text-align: center;
        color: blue;
    }

    .tn-add-specialty{

    }

    .all-specialty{

    }
}