.more-list-container{

    .more-search{
        display: flex;
        align-items: center;
        border: 0.5px solid lightgray;
        margin: 10px 100px;
        height: 40px;
        border-radius: 50px;
        padding: 0 10px;
        input {
            border: none;
            outline: none;
            background: transparent;
            width: 100%;
            &::placeholder {
                font-size: 20px;
            }
        }
    }

    .more-title{
        font-weight: 600;
        font-size: 25px;
        padding: 10px 30px;
        border-bottom: 1px solid green;
        background: #ccc
    }
    .more-list{
        display: flex;
        margin: 10px 100px;
        padding: 5px;
        border-bottom: 1px solid #ccc;
        cursor: pointer;
        .more-img{
            height: 100px;
            width: 210px;
            background-position: center center;
            background-repeat: no-repeat !important;
            background-size: cover;
            background-color: #eee;
        }

        .more-img-doctor{
            background-position: center center;
            background-repeat: no-repeat !important;
            background-size: cover;
            background-color: #eee;
            height: 120px;
            width: 120px;
            border-radius: 50%;
        }

        .more-list-title{
            padding: 3px 15px;
            .name-doctor{
                font-weight: 600;
            }
        }
    }
}