

.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background-color: rgb(42, 220, 140);
    color: rgb(42, 220, 140);
    height: 40px;
    position: relative;

    .btn-logout {
        color: rgb(42, 220, 140);
        line-height: 40px;
        height: 40px;
        padding: 0 10px;
        &:hover {
            background-color: rgb(42, 220, 140);
        }
        i {
            font-size: 12px;
        }
    }
    
    .languages{
        .welcome{
            margin-right: 15px;
        }

        .language-en{
            margin-right: 15px;
            margin-left: 10px;
            cursor: pointer;
            opacity: 0.8;
            &.active{             
                color: palegreen; 
            }
        }

        .language-vi{
            cursor: pointer;
            opacity: 0.8;
            &.active{
                color: orange;
            }
        }
    }
}