.system-dashboard-container{
    padding: 0 10px;

    .count{
        padding-top: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 45px;

        .count-group{
            width: 280px;
            height: 150px;
            box-shadow: 0 0 4px hwb(95 3% 4%);
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            .badge {
                position: absolute;
                top: 10px;
                left: 10px;
                padding: 20px 30px;
                background-color: lightcyan;
                border-radius: 50%;
                font-size: 25px;
            }

            .content{
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;

                svg{
                    width: 40px;
                    height: 40px;
                }

                .subtitle{
                    text-transform: uppercase;
                }
            }
        }

    }

    .table{
        padding-top: 30px;
        text-align: center;
        .cell {
            padding: 5px;
            border-radius: 5px;
        
            &.R1 {
                background-color: rgb(199, 241, 199);
                color: green;
            }
            &.R2 {
                background-color: rgb(199, 241, 199);
                color: blue;
            }
            &.R3 {
                background-color: rgb(199, 241, 199);
                color: red;
            }
        }
    
    }
}