.doctor-detail-container{
    padding-top: 10px;
    .info-doctor{
        display: flex;
        margin: 0 150px;

        .content-left{
            width: 20%;
            background: center center no-repeat;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin: 10px 20px;
        }

        .content-right{
            width: 70%;
            display: flex;
            flex-direction: column;
            padding-left: 10px;

            .up{
                padding-top: 15px;
                font-size: 24px;
                font-weight: 600;
            }

            .down{
                padding-top: 10px;
                font-size: 18px;
            }
        }

        
    }
    .detail-doctor{
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        background-color: #f9f9f9;
        padding: 15px 150px;
        h3{
            font-size: 20px;
        }

        h4{
            font-size: 18px;
        }

        h5{
            font-size: 16px;
        }
        img{
            width: 90%;
        }
    }
    .comment{
        height: 50px;
    }
}

