@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";
.user-body {
    .user-title {
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 30px;
        margin: 30px;
        color: blue;
    }

    .preview-image-container{

        .label-upload{
            padding: 5px;
            border-radius: 3px;
            background: #ddd;
            cursor: pointer;
            &:hover{
                opacity: 0.8;
            }
            i{
                margin-left: 4px;
            }
        }
        .preview-image{
            height: 70px;
            width: 100%;
            border: 1px solid #ddd;
            background: center center no-repeat;
            background-size: contain;
            cursor: pointer;
        }
    }    
    
}