.manage-clinic-container{
    padding: 0 200px;

    .manage-clinic-title{
        text-transform: uppercase;
        margin: 30px;
        font-weight: 600;
        font-size: 30px;
        text-align: center;
        color: blue;
    }

    .add-new-clinic{
        .btn-save-clinic{
            border: none;
            background: blue;
            min-width: 150px;
            border-radius: 3px;
            margin: 15px 0;
            color: #fff;
            padding: 5px;
            cursor: pointer;
            &:hover{
                opacity: 0.8;
            }
        }
    }
}