.title{
    display: flex;
    justify-content: center;
    
    padding: 100px;
    img{
        width: 20%;
    }

    .address{
        width: 80%;
    }
}

.introduce{
    background: #f6f2f2;
    padding: 10px 150px;
}